sudo: required #is required to use docker service in travis

language: php #can be any language, just php for example

services:
  - docker # required, but travis uses older version of docker :(

install:
  - echo "install nothing!" # put your normal pre-testing installs here

script:
  - docker --version  # document the version travis is using
  - export PATH=$PATH:$HOME/.local/bin # put aws in the path
  - docker build -t agrocd-helm-secrets .
  - docker tag agrocd-helm-secrets:latest sommerit/argocd-helm-secrets:latest
  - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USER" --password-stdin
  - docker push sommerit/argocd-helm-secrets:latest
